- mountPath: /var/www/html
  name: nextcloud-basedir
  {% if kubernetes_nextcloud_base_volume.subPath is defined %}subPath: {{ kubernetes_nextcloud_base_volume.subPath }}{% endif %}

- mountPath: /var/www/html/custom_apps/
  name: nextcloud-custom-apps
  {% if kubernetes_nextcloud_custom_apps_volume.subPath is defined %}subPath: {{ kubernetes_nextcloud_custom_apps_volume.subPath }}{% endif %}

- mountPath: /var/www/html/themes/
  name: nextcloud-theme
  {% if kubernetes_nextcloud_theme_volume.subPath is defined %}subPath: {{ kubernetes_nextcloud_theme_volume.subPath }}{% endif %}
